<div class="row">
  <div class="text-xs-center">
    <h1> Citihub Co., Ltd </h1>
    <h2> 93bis Nguyen Van Thu, Dakao Ward, District 1 </h2>
    <h2> Phone: 01227909288 </h2>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.27607239286!2d106.69721431487838!3d10.79015499231221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528caa46c5bd7%3A0xde6c27ae7fac0e37!2sCitihub+Co-working+Space+%26+Coffee!5e0!3m2!1sen!2s!4v1457887938850" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
