<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h2>Wellcome to</h2> <br />
      <h1><strong>Sang Restaurent</strong></h1> <br />
      <div class="btn-group">
        <%= link_to 'Menu', menu_path, class:"btn btn-default btn-lg" %>
        <%= link_to 'Contact', contact_path, class:"btn btn-default btn-lg" %>
      </div>
    </div>
    <div class="col-xs-6">
      <img class="img-responsive img-thumbnail" 
          src="http://loremflickr.com/480/320/restaurents" alt="Restaurent">
    </div>
  </div>
</div>
<%= render '/shared/slider' %>
